.navbar { 
display: flex;
justify-content: space-around;
padding: 16px;
box-shadow:  0px 1px 2px 4px rgba(173, 162, 162, 0.14); 
flex-wrap: wrap;
}
@media  (max-width: 750px) {
    .nav-m {
        flex-direction: column;
        gap: 10px;
    }
}

.nav-log {
display: flex;
align-items: center;
gap: 10px;
}
.nav-log img {
    max-width: 100%;
    height: auto;
}
.nav-log p {
color: black;
font-size: 29px;
font-weight: 600;
}
.nav-m {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
color: #626262;
font-weight: 600;
font-size: 20px;
-webkit-box-pack: center;
-webkit-box-align: center;
}
.nav-m li{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 8px;
cursor: pointer;
}
.Nav-logo {
    align-items: center;
    gap: 60px;
    display: flex;
}
.Nav-logo button{
    width: 100px;
    height: 35px;
    border: 1px solid black;
border-radius: 40px;
color: #515151;
font-size: 19px;
font-weight: 500;
background: white;
cursor: pointer;
}

.Nav-logo button:hover{
    background: rgb(214, 193, 212);

}
.nav-cartcount{
    height: 22px;
    width: 22px;
    color: white;
    justify-content: center;
    display: flex;
background: red;
margin-top: -39px;
margin-left: -65px;
font-size: 14px;
border-radius: 12px;
align-items: center;
}
.nav-m a {
    text-decoration: none;
}
.nav-m a:hover {
    text-decoration: underline;
    text-decoration-color: #ff4141;
    text-decoration-thickness: 3px;   
}




